#score{
    margin-left: 5px;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}
#timer{
    float: right;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}
body{
    background-color: mediumpurple;
}
h1{
    background-color: mediumpurple;
    color: white;
    font-family: 'Fredoka One', cursive;
}
#show_sketch{
    float: right;
}
p{
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: white;
}
#sketch_to_be_drawn{
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: lightsteelblue;
}
